#splash {
    -webkit-background-size: cover;
    background-attachment: fixed;
    background-color: rgb(20, 29, 39);
    background-image: url(https://bootswatch.com/assets/img/bg.jpg);
    background-position: 0px -45.33000183105469px;
    background-size: cover;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    display: block;
    /*font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
    font-size: 15px;
    height: 427px;
    line-height: 21px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 60px;
    text-align: center;
    width: 703px;
}

#container {
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    line-height: 21px;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 15px
    padding-left: 15px;
    text-align: center;
    width: 731px;
    height: 330px;
}


