{% extends "navbar.html" %}
{% block content %}
<h3>
    Public service job postings, served hourly
</h3>
<p>
    All jobs, sorted by organization and date. Use the buttons at the top of this page to narrow your search.
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                Organization
            </th>
            <th>
                Job Title
            </th>
            <th>
                Division/Ministry
            </th>
            <th>
                Date Posted
            </th>
        </tr>
    </thead>
    <tbody>
        {% for r in data %}
        <tr>
            <td>
                {{ r["org"] }}
            </td>
            <td>
                <a href={{ r[ "url"] }}>{{ r["title"] }}</a>
            </td>
            <td>
                {{ r["div"] }}
            </td>
            <td>
                {{ r["date"] }}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}